*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
#header{
    padding: 30px;
    background-color: #fbe4d8;
    color: rgb(58, 13, 13);
    grid-column: 1/4;
}
#aside-left{
    grid-column: 1 / 2;
    padding: 15px;
    background-color: #57707a;
    color: white;
}
#aside-rigth{
    grid-column: 3 / 4;
    padding: 15px;
    
    background-color: #57707a;
    color: white;
}
#main{
    grid-column: 2 / 3;
    padding: 15px;
    background-color:#c5bac4;
    color: rgb(42, 14, 94);
#footer{
    grid-column: 1 / 4;
    padding: 15px;
    background-color: rgb(233, 96, 108);
    color: white;
}
.keyword{
    font-size: 1.3em;
    color: rgb(66, 12, 12);
    /* border: 5px dashed green; */
}